<!-- Main Banner -->
<div class="main-banner">
    <div class="main-banner-item">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-banner-content">
                                <h1 style="color: white;font-size:5em ;">Experts in<br> SAP, Automation &Performance Testing</h1>
                                <!-- <p>Ensure your brand delivers the heighest quality customer experiance across digital channels by briding the gap between physical and digital worlds</p> -->
                                <div class="banner-btn">
                                    <a routerLink="/contact-us" class="default-btn">Get Started</a>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
